* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: "Source Sans 3", sans-serif;
 color: #242635;
background: white;
}

/* Desktop */
.navigation { 
    display: flex; 
    align-items: flex-end;
    justify-content: space-between; 
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 200px;


}

.logo-text { 
    font-family: "Aldrich", sans-serif; 
    font-size: 24px; 
    letter-spacing: 0.25px; 
    margin-left: 30px;
} 
    
    
    .navigation-text { 
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        font-family: "Source Sans 3", sans-serif; 
        font-size: 16px; line-height: 22.4px; 
        color: #242635; 
        gap: 40px; 

    }

.hero {
    padding: 40px 80px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;


}


h1 {

font-family: "Poppins", sans-serif;
font-weight: medium;
font-size: 90px;
line-height: 102px;
letter-spacing: 2px; 
margin-bottom: 20px;
text-align: center;

}

p {
font-size: 22px;
line-height: 33px;
max-width: 600px;
margin-bottom: 40px;
text-align: center;
margin: 0 auto 40px auto;

}


.pic {
    max-width: 1000px;
    margin: 0 auto 40px auto;
}


/* Tablet */ 

@media (max-width: 768px) {

    .navigation {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 30px 40px;
    }

    .hero {
        padding: 30px 40px;
    }

    .logo-text {
    font-family: "Baloo 2", sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #242635;
}

h1 {

font-family: "Poppins", sans-serif;
font-weight: medium;
font-size: 72px;
line-height: 82px;
letter-spacing: 1,6px;
color: #242635;
margin-bottom: 15px;
}


}


/* Mobile */ 

@media (max-width: 530px) {

      .navigation {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }

    .logo-text {
    font-family: "Baloo 2", sans-serif;
    font-size: 24;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #242635;
}

.navigation-text {

    /* add image */
}


h1 {

font-family: "Poppins", sans-serif;
font-weight: medium;
font-size: 36px;
line-height: 39px;
letter-spacing: 0.8px;
color: #242635;
margin-bottom: 10px;
}

p {
font-family: "Source Sans 3", sans-serif;
font-size: 12px;
line-height: 18px;
color: #242635;
}


}

